.modalAllContainer {
  position: absolute;
  background-color: #50c5ee;
  height: 15rem;
  width: 25rem;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-family: 'Exo';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loadContainer {
  position: absolute;
  background-color: #50c5ee;
  height: 15rem;
  width: 25rem;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  height: 60px;
}
.titleContaine {
  text-align: center;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;

  padding: 15px;
}
.containerInputLabel {
  display: flex;
  flex-direction: row;
  width: 90%;

  justify-content: space-between;
  align-items: center;
}
.InputCreate {
  width: 65%;
  background-color: hsla(0, 0%, 100%, 0.3);
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 10px;
  font-family: 'Exo';
  outline: none;
}
.labelCreate {
  /* background-color: purple; */
  width: 35%;
}
.containerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: forestgreen; */
  margin-top: 5%;
}

.ButtonCreatePaleta {
  background-color: #9400d3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 70%;
  height: 100%;
  font-family: 'Exo';
  font-weight: 700;
}

.ButtonCreatePaleta:disabled {
  background-color: gray;
  cursor: default;
}
